﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

h2 {
    color:white;
}

#logo{
    height: 100%;
    margin-top: -3px;
    margin-right: 5px;
}

.login {
    background-color:limegreen;
    color:white;
    padding-right:30px;
    padding-top:30px;
    padding-bottom:30px;
    border-radius: 20px;
}
.loginBorder{
    margin-bottom: 100px;
    border: 1px solid #222222;
    padding-right:0px;
    padding-left:0px;
    box-shadow: 14px 15px 36px -1px;
    border-radius: 20px;
}

.homeIndexDiv{
    border: 5px solid #44c746;
    border-radius: 10px; 
    padding: 0px;
    background-color:#abff8e;
    padding-bottom: 75px;
}

.homeIndexTable tr{
    border-right:10px solid #DCFFD0;
    border-left:10px solid #DCFFD0;
    border-bottom:10px solid #DCFFD0;
}
.homeIndexTable td{
    border-right: 10px solid #DCFFD0;
    border-bottom: 10px solid #DCFFD0;
}

.homeIndexTable td div{
    min-height:75px;
    background-color: #FFFFFF;
    border:1px solid #c2c2c2;
    padding-left: 20px;
    padding-top: 15px;
}

.homeDivHeader{
    background-color:#44c746; 
    height: 50px; 
    border-top-left-radius: 5px; 
    border-top-right-radius: 5px; 
    text-align: center;
}

.homeHeaderText{
    padding-top: 9px;
    font-size: x-large;
    font-weight: bold;
    color: #F9F9F9
}

.homeIndexSpan{
    font-weight: bold;
    font-size: small;
}

.homeIndexEditButton{
    margin-right:15px;
    border: 2px solid #00EA05;
    background-color: #3F7340;
    padding: 5px;
    margin-top: -5px;
    cursor: pointer;
}

.homeIndexEditButton:hover{
    background-color: #78B979;
}

.indexItemList{
    background:none;
    border:none;
    text-decoration:none;
    padding: 5px;
    padding-right: 10px;
}
.indexItemList:hover{
    background-color:#DCFFD0;
    cursor:pointer;
}

.homeIndexEditUser{
    margin-right:15px;
    margin-left: 15px;
    border: 2px solid #00EA05;
    background-color: #3F7340;
    padding: 10px;
    cursor: pointer;
    margin-top: 15px;
    font-size: large;
    color:white;
    width: 250px;
    text-align: center;
}

.editUserTextBox{
    border:none;
    border-bottom:1px solid green;
    height:35px;
    width:auto;
    padding-left:10px;
    padding-right: 10px;
    padding-bottom: 0px;
    padding-top: 10px;
    font-family: 'Yu Gothic UI';
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    color:#44c746;
    

}

.editUserTextBox:focus{
    outline-color:green;
    
}

.homeIndexEditUser:hover{
    background-color: #78B979;
}

.itemHide{
    visibility: hidden;
}

.registerError{
   color:red;
   font-style:oblique;
}

.errorMessageBold{
    font-weight: bold;
    color: #D60000;
}

.form-control{
    font-weight: bold;
}

.registerGlyphError{
    color: #EF4040;
}

.registerGlyphSuccess{
    color: #00FF00;
}

.btn-custom {
  background-color: rgb(46, 139, 87) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#398f28", endColorstr="#193f11");
  background-image: -moz-linear-gradient(top, #398f28, #193f11);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #398f28), color-stop(100%, #193f11));
  background-image: -webkit-linear-gradient(top, #398f28, #193f11);
  background-image: -o-linear-gradient(top, #398f28, #193f11);
  background-image: linear-gradient(#398f28, #193f11);
  border-color: #193f11 #193f11 hsl(110, 56%, 11%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33);
  -webkit-font-smoothing: antialiased;
}

.white-font {
    color: white;
}

.input-group-addon.primary {
   background-color: rgb(46, 139, 87);
   background-repeat: repeat-x;
   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#398f28", endColorstr="#193f11");
   background-image: -moz-linear-gradient(top, #398f28, #193f11);
   background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #398f28), color-stop(100%, #193f11));
   background-image: -webkit-linear-gradient(top, #398f28, #193f11);
   background-image: -o-linear-gradient(top, #398f28, #193f11);
   background-image: linear-gradient(#398f28, #193f11);
   border-color: #193f11 #193f11 hsl(110, 56%, 11%);
   color: #fff !important;
   text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33);
   -webkit-font-smoothing: antialiased;
}

.login-username {
    background-image:url("/Content/Images/griffin-solutions-group.png")
}

.upper{
    text-transform: uppercase;
}

.deletedUser{
    background-color:rgba(255, 52, 52, 0.45);
}

.filterable {
    margin-top: 15px;
    background-color: green;
    color: white;
}

.filterable .panel-heading .pull-right {
    margin-top: -20px;
}

.filterable .filters input[disabled] {
    background-color: transparent;
    border: none;
    cursor: auto;
    box-shadow: none;
    padding: 0;
    height: auto;
}

.filterable .filters input[disabled]::-webkit-input-placeholder {
    color: white;
}

.filterable .filters input[disabled]::-moz-placeholder {
    color: #333;
}

.filterable .filters input[disabled]:-ms-input-placeholder {
    color: #333;
}